@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 70vh;
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-ctn>img {
    position: absolute;
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}

.pic-ctn .float {
    position: absolute;
    bottom: 0%;
    width: 30vw;
    height: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px red;
    border-radius: 0.8rem;
    z-index: 1;
}

.pic-ctn .float div {
    text-align: center;
    width: 33.3%;
}

.pic-ctn .float div:nth-child(1) {
    border-right: solid 2px red;
}

.pic-ctn .float div:nth-child(2) {
    border-right: solid 2px red;
}

@media(max-width: 910px) {
    .pic-ctn .float {
        width: 70%;
    }
}

@media(max-width: 410px) {
    .pic-ctn .float {
        width: 90%;
    }
}